<div class="container text-center border shadow rounded my-5 p-3">
    <h1>Administrador</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Escala de dos valores</h3>
                <div class="container">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="twoValueTrueOption">% positivo</span>
                        <input type="number" class="form-control" [(ngModel)]="twoValueTrueOption" min="0" max="1"
                            aria-describedby="twoValueTrueOption">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="twoValueTrueOption">% negativo</span>
                        <input type="number" class="form-control" [(ngModel)]="twoValueFalseOption" min="0" max="1"
                            aria-describedby="twoValueTrueOption">
                    </div>
                    <button class="btn btn-primary" (click)="createTwoValueOption()">Añadir escala</button>
                </div>
                <hr>
                <div class="container">
                    <div *ngFor="let twoValueScale of twoValueScales">
                        {{twoValueScale.id}}, {{twoValueScale.trueOptionValue}} - {{twoValueScale.falseOptionValue}}
                        <button class="btn btn-sm btn-danger" (click)="removeTwoValueScale(twoValueScale.id)">x</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h3>Escala de tres valores</h3>
            </div>
            <div class="col-4">
                <h3>Escala de cuatro valores</h3>
            </div>
        </div>
    </div>
</div>
